.navbar-nav {
    
        margin-left: auto;
        font-size: larger;
        float: right;

    
}
.navbar{
    background-color:aqua;
}
ul li{
 padding:2px 8px;
 
    font-family: "Lora", serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
  
}

.navbar-logo {
    height: 20px; /* Adjust the height as needed */
    width: auto; /* Maintain aspect ratio */
    padding: 5px; /* Add some padding if necessary */
    display: block; /* Ensures the image behaves like a block element */
    margin: auto; /* Centers the logo within the navbar */
    /* Additional styles to align and position the logo */
    /* vertical-align: middle; */
}
